/* Header */
.header {
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
}

.header .inner-wrap{
    background-color: var(--color-1);
    padding: 0 25px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .inner-list ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-list ul li a {
    color: var(--color-text-2);
    font-size: 14px;
    font-weight: 500;
    display: inline-block; 
    padding: 30px 20px; /* display khác inline để áp dụng dc padding (do a có display: inline)) */
    transition: all 0.2s ease-in-out;
}

.header .inner-list ul li:last-child a {
    padding-right: 0;
}

.header .inner-list ul li a.active {
    color: var(--color-3);
}

.header .inner-list ul li a:hover {
    color: var(--color-3);
}

.header .inner-mobi {
    display: none;
}

@media (max-width: 1199.98px) {
    .header .inner-list ul li a {
        padding: 30px 10px;
        white-space: nowrap;
    }
}

@media (max-width: 991.98px) {
    .header .inner-mobi {    
        display: block;
        padding: 20px 0;
    }

    .header .inner-mobi a {
        color: var(--color-text-2);
        font-size: 25px;
    }

    .header .inner-list {
        display: none;
    }
}
/* End Header */

/* Section One */
.section-one {
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section-one .inner-wrap {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.section-one .inner-title {
    color: var(--color-1);
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1.4px;
    margin-top: 0;
}

.section-one .inner-desc {
    color: var(--color-1);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

@media (max-width: 991.98px) {
    .section-one .inner-wrap {
        width: 80%;
    }
}

@media (max-width: 767.98px) {  
    .section-one .inner-wrap {
        width: 100%;
    } 

    .section-one .inner-title {
        font-size: 34px;
    }

    .section-one .inner-desc {
        font-size: 14px;
    }
}

@media (max-width: 575.98px){
    .section-one .inner-title {
        font-size: 30px;
    }
}
/* End Section One */

/* Section Two */
.section-two {
    margin-top: -190px;
}

.section-two .inner-items{
    background: var(--color-1);
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
    padding: 30px;
}

.section-two .inner-items .inner-image {
    width: 85px;
    height: 85px;
    background: var(--color-2);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 28px;
    transition: all 0.3s ease-in-out;
}

.section-two .inner-items:hover .inner-image {
    background: var(--color-3);
    transition: all 0.3s ease-in-out;
}

.section-two .inner-items .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-two .inner-items .inner-title {
    color: var(--color-text-1);
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
}

.section-two .inner-items .inner-desc {
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

@media (max-width: 1199.98px) {
    .section-two {
        margin-top: -170px;
    }
}

@media (max-width: 991.98px) {
    .section-two {
        margin-top: -180px;
    }

    .section-two .inner-items {
        margin-bottom: 30px;        
    }
}

@media (max-width: 575.98px) {
    .section-two {
        margin-top: -130px;
    }
}

@media (max-width: 424.98px) {
    .section-two {
        margin-top: -100px;
    }
}
/* End Section Two */

/* Section Three */
.section-three {
    padding-top: 100px;
    position: relative;
}

.section-three .inner-line {
    margin-top: 100px;
    border-bottom: 1px solid #ddd;
    opacity: 0.5;
}

.section-three .inner-img {
    width: 100%;
    height: auto;
    text-align: center;
}

.section-three .inner-img img {
    width: 50%;
    height: 50%;
}

.section-three .inner-content .inner-title {
    color: var(--color-text-1);
    font-size: 24px;
}

.section-three .inner-content .inner-desc {
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1199.98px) {
    .section-three .inner-img img{
        width: 60%;
    }
}

@media (max-width: 991.98px) {
    .section-three .inner-img img{
        width: 70%;
    }

    .section-three .inner-content .inner-title {
        font-size: 22px;
    }

    .section-three .inner-content .inner-desc {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .section-three {
        padding: 50px;
        padding-bottom: 0;
    }

    .section-three .inner-line {
        margin-top: 20px;
    }

    .section-three .inner-content {
        margin-top: 30px;
    }

    .section-three .inner-img img{
        width: 55%;
    }
}

/* End Section Three */

/* Section Four */
.section-four {
    padding: 100px 0;
}

.section-four .inner-content .inner-title {
    color: var(--color-text-1);
    font-size: 24px;
}

.section-four .inner-content .inner-desc {
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-four .inner-img {
    width: 100%;
    height: auto;
    text-align: center;
}

.section-four .inner-img img {
    width: 50%;
    height: 50%;
}

@media (max-width: 1199.98px) {
    .section-four .inner-img img{
        width: 60%;
    }
}

@media (max-width: 991.98px) {
    .section-four .inner-img img{
        width: 70%;
    }

    .section-four .inner-content .inner-title {
        font-size: 22px;
    }

    .section-four .inner-content .inner-desc {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .section-four {
        padding: 50px;
    }

    .section-four .inner-content {
        margin-top: 30px;
    }

    .section-four .inner-img img{
        width: 55%;
    }
}
/* End Section Four */

/* Section Five */
.section-five {
    background-image: url(../images/work-process-bg.png);
    background-size: cover;
    opacity: 0.9;
    background-position: center;
    padding: 100px 0;
}

.section-five .box-head .inner-title {
    color: var(--color-1);
}

.section-five .box-head .inner-desc {
    color: var(--color-1);
    letter-spacing: 0.25px;
}

.section-five .inner-items {
    background: var(--color-1);
    display: block; /* do là thẻ a nên cần đổi sang block thì mới hiện background */
    text-align: center;
    padding: 20px 25px;
    margin-right: 5px;
    margin-top: 25px;
    border-radius: 22px;
    position: relative;
}

.section-five .inner-items:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #d3d2d22d;
    border-radius: 22px;
    position: absolute;
    top: 10px; 
    left: 10px;
    z-index: -1; /* chưa hiểu */
}

.section-five .inner-items .inner-title {
    color: var(--color-text-1);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.25px;
    white-space: nowrap;
    margin-top: 23px;
}

.section-five .inner-items .inner-desc {
    color: var(--color-text-2);
    font-size: 14px;
    letter-spacing: 0.75px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}

/* End Section Five */

/* Secion Six */
.section-six {
    padding: 100px 0;
}

.section-six .inner-items {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
}

.section-six .inner-items .inner-img {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section-six .inner-items .inner-desc {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.section-six .inner-items .inner-img1 {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
} 

.section-six .inner-items .inner-img1 img {
    width: 100%;
}

.section-six .inner-items .inner-name-position .inner-name {
    color: var(--color-text-1);
    font-size: 17px;
}

.section-six .inner-items .inner-name-position .inner-position {
    color: var(--color-3);
    font-size: 15px;
}

@media (max-width: 1199.98px) {
    .section-six .inner-items .inner-name-position {
        margin-left: 20px;
    }
}

@media (max-width: 767.98px) {
    .section-six .inner-items .inner-name-position {
        margin-left: -20px;
    }
}

@media (max-width: 424.98px) {
    .section-six .inner-items .inner-name-position {
        margin-left: 5px;
    }
}
/* End Section Six */

/* Section Seven */
.section-seven {
    background: var(--color-bg);
    padding: 80px 0;
}

.section-seven .inner-items {
    text-align: center;
    background: var(--color-1);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 35px;
    margin-top: 30px;
}

.section-seven .inner-items .inner-title {
    color: var(--color-text-1);
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.section-seven .inner-items .inner-money {
    background: var(--color-2);
    padding: 30px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom: 35px;
}

.section-seven .change-bg:nth-child(2) .inner-items .inner-money {
    background: var(--color-3);
}

.section-seven .inner-items .inner-money .money {
    font-size: 28px;
    font-weight: 450;
    color: var(--color-1);
}

.section-seven .inner-items .inner-money .month {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--color-1);
}

.section-seven .inner-items .inner-list ul {
    padding: 0;
    margin-bottom: 40px;
}

.section-seven .inner-items .inner-list ul li{
    font-size: 13px;
    margin-bottom: 8px;
}

.section-seven .change-bg:first-child .inner-items .inner-list ul li:nth-child(n+4) {
    text-decoration: line-through;
}

.section-seven .change-bg:nth-child(2) .inner-items .inner-list ul li:nth-child(n+5) {
    text-decoration: line-through;
}
/* End Section Seven */

/* Section Eight */
.section-eight {
    padding: 120px 0 100px 0;
    position: relative;
    overflow: hidden;
}

.section-eight:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 140%;
    opacity: 0.9;
    background-image: url(../images/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -20%;
    left: -20%;
}

.section-eight .inner-items {
    text-align: center;
    position: relative;
}
/*phải bọc lại number và word bằng content thì transform mới dùng riêng cho number và word (do bị bọc bởi content) còn ko bọc thì sẽ bị dùng luôn cho cả ::before bởi cả 3 cùng cấp và cùng nằm trong items */
.section-eight .inner-items .inner-content { 
    transform: translateY(0);
    transition: all 0.3s ease 0s;
}

.section-eight .inner-items:hover .inner-content {
    transform: translateY(-10px);
}

.section-eight .inner-items::before {
    content: "";
    width: 100px;
    height: 20px;
    display: block;
    background-image: url(../images/circle-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 20%;
    left: -22%;
}

.section-eight .change-items:first-child .inner-items::before {
    display: none;
}

.section-eight .inner-items .inner-content .inner-number {
    color: var(--color-1);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}


.section-eight .inner-items .inner-content .inner-word {
    color: var(--color-1);
    font-weight: 500;
}

@media (max-width: 991.98px) {
    .section-eight .inner-items {
        margin-bottom: 20px;
    }

    .section-eight .inner-items::before {
        display: none;
    }
}
/* End Section Eight */

/* Section Nine */
.section-nine {
    padding: 80px 0;
}

.section-nine .inner-items {
    text-align: center;
    margin-top: 20px;
}

.section-nine .inner-items .inner-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 20px;
    overflow: hidden;
}

.section-nine .inner-items .inner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 20px; */
}

.section-nine .inner-items .inner-title-items {
    margin: 20px 0;
}

.section-nine .inner-items .inner-title-items a {
    color: var(--color-text-1);
    font-size: 18px;
    letter-spacing: 0.25px;
    transition: all 0.2s ease-in-out;
}

.section-nine .inner-items .inner-title-items a:hover {
    color: var(--color-3);
    transition: all 0.2s ease-in-out;
}

.section-nine .inner-items .inner-desc-items {
    color: var(--color-text-2);
    font-size: 13px;
    letter-spacing: 0.25px;
    margin-bottom: 25px;
}
/* End Section Nine */

/* Section Ten */
.section-ten {
    background: var(--color-bg);
    padding: 120px 0;
}

.section-ten .inner-contact {
    margin-bottom: 30px; /* tiện cho resposive */
}

.section-ten .inner-contact .inner-title-contact {
    color: var(--color-text-1);
    font-size: 18px;
    margin-bottom: 35px;
}

.section-ten .inner-contact .inner-desc-contact {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
}

.section-ten .inner-contact .inner-thankyou {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.section-ten form .form-group {
    margin-bottom: 30px;
}

.section-ten form .form-group .form-control {
    font-size: 14px;
    border-radius: 999px;
    border-color: transparent;
    padding: 23px 20px;
}

.section-ten form .form-group .border-text-area {
    border-radius: 20px;
    resize: none;
}

@media (max-width: 767.98px) {
    .section-ten form .center-button {
        text-align: center;
    }
}
/* End Section Ten */
.footer {
    padding: 35px 0;
    background-color: var(--color-3);
    background: linear-gradient(to right, var(--color-3) -200%, var(--color-2) 100%);     
    text-align: center; 
}

.footer .inner-social::after {
    content: "";
    display: block;
    border: 1px solid var(--color-1);
    opacity: 0.1;
    margin: 30px 0;
}

.footer .inner-social ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .inner-social ul li {
    margin: 0 10px;
}

.footer .inner-social ul li a {
    width: 37px;
    height: 37px;
    font-size: 14px;
    color: var(--color-2);
    background: var(--color-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.footer .inner-social ul li:hover a {
    color: var(--color-1);
    background: var(--color-3);
    transition: all 0.3s ease-in-out;
}

.footer .inner-footer {
    color: var(--color-1);
    font-size: 13px;
    letter-spacing: 0.5px;
}
/* Footer */

/* End Footer */